.mod_th_countries{

}

.mod_th_countries .row-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mod_th_countries .row-fluid > a{
	color : #000000 !important;
}

.mod_th_countries .row-fluid > a:hover{
	color : #000000 !important;
}

.country-item{
	border: 1px solid #CCCCCC;
	float: left;
	height: auto;
	/*width: 47%;*/
	margin: 2px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	background: none repeat scroll 0 0 #F9F9F9;
	
}

.country-item:hover{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 10px #999999;
    transition: all 0.5s ease 0s;
}

.country-image{
	float: left;
	height: auto;
	margin-right: 2px;
	width: 50%;
}

.country-image > img{
	height: auto;
	width: 100%;	
}

.country-text{
	width: auto;
	font-size: 0.9em;
	/*overflow: hidden;
	text-overflow: ellipsis;*/
}

/*
.country-text > p{
	margin: 0;
}*/

.country-text > h1{
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	overflow: hidden;	
}

.mod_th_countries .row-fluid > p{
	margin: 0 0 10px;
}

.mod_th_countries .hr{
	margin: 0px;
	height: 5px;
	background-color: transparent;
	background-image: linear-gradient(to right, #009fe3 0%, rgba(2, 255, 255, 0) 100%);
	margin-bottom: 3%;
}

._mbuscar{
  padding: 0px !important;
  background-color: #4e9dbf !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

._mbuscar > .menu > li > a {
  background-color: white;
  color: black;
  margin-bottom: 1px;
  padding: 8px;
  font-size: 15px;
}

._mbuscar .nav {
  margin: 12px 0px;
}
