<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="countries"
		label="TH_FIELD_CONFIG_COUNTRIES_DISPLAY"
		description="TH_FIELD_CONFIG_COUNTRIES__DESC"
	>
				
		<field
			name="countries-rowcount"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_COUNTRIES_FIELD_ROWCOUNT_LABEL"
			description="TH_COUNTRIES_FIELD_ROWCOUNT_DESC" />
		<field
			name="countries-itemrow"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_COUNTRIES_FIELD_ITEMROW_LABEL"
			description="TH_COUNTRIES_FIELD_ITEMROW_DESC" />
		<field
			name="countries-itemwidth"
			type="text"
			class="inputbox validate-numeric"
			default="47"
			label="TH_COUNTRIES_FIELD_ITEMWIDTH_LABEL"
			description="TH_COUNTRIES_FIELD_ITEMWIDTH_DESC" />
		
	</fieldset>
	
	<fieldset name="states"
		label="TH_FIELD_CONFIG_STATES_DISPLAY"
		description="TH_FIELD_CONFIG_STATES__DESC"
	>
				
		<field
			name="states-rowcount"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_STATES_FIELD_ROWCOUNT_LABEL"
			description="TH_STATES_FIELD_ROWCOUNT_DESC" />
		<field
			name="states-itemrow"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_STATES_FIELD_ITEMROW_LABEL"
			description="TH_STATES_FIELD_ITEMROW_DESC" />
		<field
			name="states-itemwidth"
			type="text"
			class="inputbox validate-numeric"
			default="47"
			label="TH_STATES_FIELD_ITEMWIDTH_LABEL"
			description="TH_STATES_FIELD_ITEMWIDTH_DESC" />
		
	</fieldset>

	<fieldset name="country"
		label="TH_FIELD_CONFIG_COUNTRY_DISPLAY"
		description="TH_FIELD_CONFIG_COUNTRY__DESC"
	>
				
		<field
			name="country-rowcount"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_COUNTRY_FIELD_ROWCOUNT_LABEL"
			description="TH_COUNTRY_FIELD_ROWCOUNT_DESC" />
		<field
			name="country-itemrow"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_COUNTRY_FIELD_ITEMROW_LABEL"
			description="TH_COUNTRY_FIELD_ITEMROW_DESC" />
		<field
			name="country-itemwidth"
			type="text"
			class="inputbox validate-numeric"
			default="47"
			label="TH_COUNTRY_FIELD_ITEMWIDTH_LABEL"
			description="TH_COUNTRY_FIELD_ITEMWIDTH_DESC" />
		
	</fieldset>
	
	<fieldset name="state"
		label="TH_FIELD_CONFIG_STATE_DISPLAY"
		description="TH_FIELD_CONFIG_STATE__DESC"
	>
				
		<field
			name="state-rowcount"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_STATE_FIELD_ROWCOUNT_LABEL"
			description="TH_STATE_FIELD_ROWCOUNT_DESC" />
		<field
			name="state-itemrow"
			type="text"
			class="inputbox validate-numeric"
			default="2"
			label="TH_STATE_FIELD_ITEMROW_LABEL"
			description="TH_STATE_FIELD_ITEMROW_DESC" />
		<field
			name="state-itemwidth"
			type="text"
			class="inputbox validate-numeric"
			default="47"
			label="TH_STATE_FIELD_ITEMWIDTH_LABEL"
			description="TH_STATE_FIELD_ITEMWIDTH_DESC" />
		
	</fieldset>
	
</config>
